<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
        <h1 class="text-align: center">SuperStudent!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-3 p-2">
        <button class="bnt bnt-block btn-outline-primary">Tarefas</button><br>
        <button class="bnt bnt-block btn-outline-primary">Materias</button><br>
        <button class="bnt bnt-block btn-outline-primary">Métodos de Estudo</button><br>
    </div>
      
    <div class="col-9 p-2">
      
    </div>
  </div>
  
</div>