  <h1><div align="center"><i>Fichamento:</i></div></h1>
  <br/>
  <P> O <b>fichamento</b> é um registro feito em fichas. 
    Nele se resume as ideias principais de um texto, 
    que pode ser um livro, ou parte dele. Até mesmo, aulas, 
    audios e etc.
  </P>
  <p>
      Utilizado como técnica de estudo pessoal, 
      e muito útil como metodologia de pesquisa do TCC, 
      também serve para organizar apresentações.
  </p>
  <h4>Como Fazer?</h4>
  <p>
      <b>1-</b>
      Fazer o primeiro 
      contato com o texto através de uma leitura breve. 
      Essa leitura dinâmica servirá para você se situar 
      e saber do que se trata o conteúdo do texto que 
      pretende fichar.
  </p>
  <p>
    <b>2-</b>
    Após a primeira leitura, faça várias releituras. 
    Enquanto faz isso, vá juntando as informações principais 
    de forma organizada e retire citações com as devidas 
    indicações de onde as mesmas podem ser encontradas nos textos.
  </p>
<br/>
<h1><div align="center"><i>Resumo:</i></div></h1>
<br/>
<p>
    O <b>resumo</b> de texto é um mecanismo em que se aponta somente as 
    ideias principais de um texto fonte, de forma que é produzido 
    um novo texto, no entanto, de maneira resumida, abreviada ou
    sintetizada. É a compilação de informações mais relevantes 
    de um texto!
</p>
<h4>Como Fazer?</h4>
<p>
    <b>1-</b> 
    Leia e releia o texto;
</p>
<p>
  <b>2-</b>
  Busque os conceitos mais importantes e os pontos fundamentais 
  do texto;
</p>
<p>
  <b>3-</b>
  Organize as ideias principais;
</p>
<p>
  <b>4-</b>
  Escreva o texto com suas palavras;
</p>
<br/>
<h3>Lembre-se, o mais eficaz dos métodos de estudos é aquele 
  que você melhor se adapta!
</h3>
